.about {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 80px;
    .container {
        @include display-flex (center, center);
        flex-direction: column;
    }
    h3 {
        @include text-style(12px, 400, 16px, $span-color , center);
        letter-spacing: 1px;
        margin-bottom: 16px;
    }
    p {
        @include text-style(27px, 400, 37.32px, $text-color , center);
        width: 60%;
        letter-spacing: 0.5600000023841858px;
        margin-bottom: 60px;
        @media (max-width: 700px) {
            width: 98%;
        }
    }
    &__content {
        @include display-flex (center, center);
        width: 100%;
        gap: 32px;
        @media (max-width: 350px) {
            flex-wrap: wrap;
        }
        &-brand {
            @include display-flex (center, center);
            flex-direction: column;
            gap: 12px;
            img {
                width: 80px;
                height: 80px;
            }
            b {
                @include text-style(21px, 400, 24.96px, $text-color , center);
            }
            p {
                @include text-style(12px, 400, 16px, $text-color, center);        
            }
        }
    }
}