.contact {
    width: 100%;
    height: 125vh;
    background-color: $fourth-color;
    padding: 100px 24px ;
    @media (max-width:700px) {
        height: 130vh;
    }
    @media (max-width: 540px) {
        padding: 0;
        height: 150vh;
    }
    @media (max-width: 250px) {
        height: 200vh;
    }
    .container {
        @include display-flex (center, center);
        flex-direction: column;
        gap: 32px;
        h3 {
            @include text-style(29px, 400, 35.2px, $text-color , center);
        }
    }
    &__content {
        @include display-flex (center, center);
        padding: 0 120px;
        width: 100%;
        height: calc(100vh - 250px);
        gap: 10px;
        @media (max-width: 850px) {
            padding: 0 24px;
            height: calc(100vh - 300px);
        }
        @media (max-width: 540px) {
            display: block;
            margin: 0 auto;
            flex-direction: column;
            flex-wrap: wrap;
            height: 40%;
            width: 100%;
        }
        img {
            width: 50%;
            height: 100%;
            @media (max-width: 540px) {
                width: 100%;
            }
        }
        &-text {
            @include display-flex (center, center);
            width: 50%;
            height: 100%;
            background-color: $contact-color;
            flex-direction: column;
            @media (max-width: 540px) {
                padding: 6px;
                width: 100%;
            }
            &-line {
                @include display-flex (center, center);
                width: 80%;
                flex-direction: column;
                gap: 12px;
                b {
                    @include text-style(12px, 400, 16px, $text-color , center);
                    padding: 0 15px;
                }
                p {
                    @include text-style(24px, 400, 31.99px, $text-color , center);
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    
                }
            }
        }
    }
    &__brands {
        @include display-flex (center, center);
        padding: 50px 80px;
        width: 100%;
        gap: 50px;
        @media (max-width: 700px) {
            padding: 0;
            flex-wrap: wrap;
        }
        &-brand {
            @include display-flex (center, center);
            width: 25%;
            flex-direction: column;
            text-align: center;
            @media (max-width:700px) {
                width: 45%;
            }
            @media (max-width:566px) {
                width: 35%;
            }
            img {
                width: 128px;
                height: auto;
                margin-bottom: 20px;
            }
            p {
                @include text-style(16px, 400, 21.33px, $text-color , center);    
            }
        }
    }
}