@charset "UTF-8";
body {
  font-family: "roboto", sans-serif;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
}

.header {
  padding: 30px 24px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  cursor: pointer;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__content .header_links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__content .header_links a {
  text-decoration: none;
  color: #3F3B3D;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.3s ease;
}
.header__content .header_links a:hover {
  color: #000;
}
@media (max-width: 709px) {
  .header__content .header_links {
    display: none;
  }
}
.header__content-btn {
  background-color: #DDDBDA;
  border: none;
  padding: 12px 18px;
  color: #3F3B3D;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__content-btn:hover {
  background-color: #F8F9FA;
}
@media (max-width: 370px) {
  .header__content-btn {
    display: none;
  }
}
.header__content-icon {
  padding: 12px 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F8F9FA;
}
.header__content-icon img {
  cursor: pointer;
}
.header__content-icon-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 220px) {
  .header__content-icon {
    display: none;
  }
}
.header__content-menu {
  display: none;
}
.header__content-menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media (max-width: 709px) {
  .header__content-menu {
    display: block;
  }
}
.header .side-menu {
  position: fixed;
  top: -100vh;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(231, 39%, 7%, 0.8);
  color: #fff;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.header .side-menu.active {
  top: 0;
}
.header .side-menu .side-menu-close {
  margin-top: 10px;
  font-size: 2rem;
  margin-right: 5px;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.header .side-menu .side-menu-links {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  text-align: center;
  gap: 10px;
}
.header .side-menu .side-menu-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.header .side-menu .side-menu-links a:hover {
  color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 80px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .hero {
    margin-top: 30px;
  }
}
.hero .container {
  background-color: #3F3B3D;
  display: flex;
  align-items: center;
  gap: 76px;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .hero .container {
    width: 98%;
    flex-direction: column;
    gap: 32px;
  }
}
.hero__content {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
  padding: 256px 0 64px 64px;
}
@media (max-width: 1024px) {
  .hero__content {
    width: 100%;
    padding: 64px 24px;
  }
}
.hero__content h1 {
  color: #DDDBDA;
  font-size: 33px;
  font-weight: 400;
  line-height: 42.5px;
  text-align: left;
}
@media (max-width: 768px) {
  .hero__content h1 {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .hero__content h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
.hero__content-btns {
  display: flex;
  gap: 24px;
}
@media (max-width: 700px) {
  .hero__content-btns {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
.hero__content-btns .hero-btn {
  padding: 12px 20px;
  background-color: #f86335;
  color: #DDDBDA;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: center;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (max-width: 700px) {
  .hero__content-btns .hero-btn {
    width: 100%;
  }
}
.hero__content-btns .hero-btn:hover {
  background-color: #F14814;
}
.hero__content-btns .btn2 {
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}
.hero__content-btns .btn2:hover {
  background-color: transparent;
  color: #DDDBDA;
}
.hero__carousel {
  position: absolute;
  top: -80px; /* Hero bo‘limidan 100px yuqoriga ko‘tariladi */
  right: 0;
  width: 60%;
  height: calc(100% + 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .hero__carousel {
    position: static;
    top: 0;
    width: 100%; /* Kichik ekranlar uchun to‘liq kenglik */
    height: 500px; /* Balandlik avtomatik bo‘ladi */
  }
}
.hero__carousel .carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .hero__carousel .carousel {
    height: 500px; /* Kichik ekranlar uchun tasvir balandligi avtomatik */
  }
}
.hero__carousel .carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.hero__carousel .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .hero__carousel .carousel .carousel-item img {
    width: 100%;
    height: 100%;
  }
}
.hero__carousel .carousel .carousel-item.active {
  opacity: 1;
}
.hero__carousel .carousel-indicators {
  position: absolute; /* Indikatorlar karusel ichida */
  bottom: 20px; /* Karuselning pastki qismidan 20px yuqorida */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .hero__carousel .carousel-indicators {
    bottom: 10px; /* Kichik ekranlarda indikator masofasi o‘zgartiriladi */
  }
}
.hero__carousel .carousel-indicators .indicator {
  width: 20px;
  height: 20px;
  background-color: #DDDBDA;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.hero__carousel .carousel-indicators .indicator.active {
  opacity: 1;
  background-color: #f86335;
}
.hero__carousel .carousel-indicators .indicator:hover {
  opacity: 1;
}

.about {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 80px;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #F14814;
  margin-bottom: 16px;
}
.about p {
  width: 60%;
  color: #3F3B3D;
  font-size: 27px;
  font-weight: 400;
  line-height: 37.32px;
  letter-spacing: 0.5600000024px;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 700px) {
  .about p {
    width: 98%;
  }
}
.about__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 350px) {
  .about__content {
    flex-wrap: wrap;
  }
}
.about__content-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.about__content-brand img {
  width: 80px;
  height: 80px;
}
.about__content-brand b {
  color: #3F3B3D;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.96px;
  text-align: center;
}
.about__content-brand p {
  color: #3F3B3D;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.footer {
  padding: 96px 56px 36px 56px;
  background-color: #3F3B3D;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__content1 h3 {
  width: 33.3333333333%;
  color: #DDDBDA;
  font-size: 29px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 32px;
  text-transform: uppercase;
}
@media (max-width: 760px) {
  .footer__content1 h3 {
    width: 50%;
  }
}
@media (max-width: 710px) {
  .footer__content1 h3 {
    width: 100%;
  }
}
.footer__content1-img {
  display: flex;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.footer__content1-img img {
  width: calc(25% - 36px);
  height: calc(25% - 36px);
}
@media (max-width: 760px) {
  .footer__content1-img img {
    width: calc(50% - 36px);
    height: calc(50% - 36px);
    margin: 0 auto;
    gap: 24px;
  }
}
@media (max-width: 670px) {
  .footer__content1-img img {
    width: 80%;
    height: 33.3333333333%;
    margin: 0 auto;
  }
}
.footer__content2 {
  margin-top: 64px;
  width: 100%;
  display: flex;
  gap: 144px;
  flex-wrap: wrap;
}
.footer__content2-text {
  width: 38.4615384615%;
}
.footer__content2-text h4 {
  color: #DDDBDA;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.99px;
  text-align: left;
  margin-bottom: 67px;
}
.footer__content2-text-line {
  width: 100%;
  height: 2px;
  background-color: #DDDBDA;
}
@media (max-width: 700px) {
  .footer__content2-text {
    width: 70%;
  }
}
@media (max-width: 430px) {
  .footer__content2-text {
    width: 100%;
  }
}
.footer__content2-text2 {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
}
.footer__content2-text2-p {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer__content2-text2-p a {
  text-decoration: none;
  color: #DDDBDA;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: left;
  transition: all 0.3s ease;
}
.footer__content2-text2-p a:hover {
  color: #F8F9FA;
}
.footer__content2-text2-p a:nth-child(1) {
  margin-bottom: 16px;
}
.footer__content3 {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 64px;
  border-top: 1px solid #2f2d2e;
  padding: 0 100px 0 0;
}
@media (max-width: 700px) {
  .footer__content3 {
    padding: 0;
  }
}
.footer__content3-text {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__content3-text p {
  color: #DDDBDA;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  text-align: left;
}
.footer__content3-text p span {
  margin-left: 10px;
  cursor: pointer;
}
.footer__content3-text p span a {
  text-decoration: none;
  color: #F14814;
}
.footer__content3-text button {
  padding: 9px 12px;
  background-color: #F14814;
  color: #DDDBDA;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__content3-text button:hover {
  background-color: #f86335;
}/*# sourceMappingURL=style.css.map */