$primary-color: #fff;   
$third-color: #DDDBDA;
$fourth-color: #F8F9FA;
$second-color: #000;
$text-color: #3F3B3D;
$background-color: #3F3B3D;
$line-color: #2f2d2e;
$span-color: #F14814;
$hover-color: #f86335;